.or {
  text-align: center;
}
#import-geojson-input {
  display: none;
}
.gt-dropdown {
  border-radius: 3px;
  border: 1px solid #00897B;
  padding: .5rem;
  margin: auto;
  display: block;
  background: white;
  max-width: 30rem;
  width: 80%;
}
.gt-input {
  border-radius: 3px;
  border: 1px solid #00897B;
  padding: .35rem .5rem;
  margin: auto;
  display: block;
  max-width: 30rem;
  width: 80%;
}
.gt-input > input {
  border: none;
  padding: .5rem;
}
.gt-input:focus {
  outline: 0;
  box-shadow: 0 0 3px #00897B;
}
.gt-button {
  font-weight: bold;
  cursor: pointer;
  border-radius: 3px;
  background: #00897B;
  border: none;
  color: white;
  padding: .5rem 1rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
}
.gt-button:hover {
  background: #32a095;
}
.gt-button.active {
  background: #ff4081;
}
.gt-button-accent {
  font-weight: bold;
  cursor: pointer;
  border-radius: 3px;
  background: #00897B;
  border: none;
  color: white;
  padding: .5rem 1rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
  background: #ff4081;
}
.gt-button-accent:hover {
  background: #32a095;
}
.gt-button-accent.active {
  background: #ff4081;
}
.gt-textarea {
  width: 90%;
  position: relative;
  margin: auto;
}
.gt-remove {
  border-radius: 50%;
  box-shadow: -2px 2px 1px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  float: right;
  background: #ff4081;
  color: white;
  padding: .25rem;
}
.gt-remove:hover {
  background: #ff669a;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.ReactModal__Overlay {
  border-radius: 3px;
  z-index: 2000;
  background: rgba(0, 0, 0, 0.75) !important;
}
.ReactModal__Overlay .ReactModal__Content {
  max-width: 500px;
  margin: auto;
  padding: 0 !important;
  border: none !important;
  overflow: hidden !important;
  transition: opacity 200ms ease-in-out;
}
.ReactModal__Overlay .ReactModal__Content--after-open {
  opacity: 1;
}
.ReactModal__Overlay .ReactModal__Content--before-close {
  opacity: 0;
}
.ReactModal__Overlay .ReactModal__Content header {
  background: #00897B;
  color: white;
  padding: 1rem;
}
.ReactModal__Overlay .ReactModal__Content header h3 {
  margin-bottom: 0;
}
.ReactModal__Overlay .ReactModal__Content .content {
  padding: 1rem;
}
.ReactModal__Overlay .ReactModal__Content .content .gt-input {
  margin-top: 1rem;
}
.ReactModal__Overlay .ReactModal__Content .footer {
  text-align: center;
}
#menu {
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 33%;
  height: 100%;
  background: white;
  z-index: 1000;
  box-shadow: 3px 0px 4px 0 rgba(0, 0, 0, 0.15);
}
#menu header {
  background: #00897B;
  text-align: center;
  color: white;
  padding: 1rem;
}
#menu header h3 {
  margin-bottom: 0;
}
#menu #search {
  padding: 1rem;
}
#menu #content {
  padding: 1rem;
  margin-top: 1.5rem;
  height: calc(100% - 10rem);
  overflow-y: scroll;
}
#menu #content p {
  margin-bottom: .1rem;
}
#menu #content .content-row {
  display: flex;
  justify-content: space-around;
}
#menu #content #tool-button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#menu #content #tool-button-container .tool-button {
  cursor: pointer;
  background: #00897B;
  color: white;
  border-radius: 3px;
  text-align: center;
  height: 6rem;
  width: 6rem;
  margin: 1rem .4rem;
  border: none;
  box-shadow: -2px 2px 1px 0 rgba(0, 0, 0, 0.1);
}
#menu #content #tool-button-container .tool-button h3 {
  font-size: 14px;
}
#menu #content #tool-button-container .tool-button .material-icons {
  font-size: 2.5rem;
}
#menu #content #tool-button-container .tool-button:hover {
  background-color: #ff4081;
}
#menu #content .tool {
  border: 1px solid #00897B;
  border-radius: 3px;
  box-shadow: -3px 3px 1px 0 rgba(0, 0, 0, 0.15);
  text-align: center;
}
#menu #content .tool .controls header {
  width: 100%;
  background: #00897B;
  color: white;
  text-align: left;
}
#menu #content .tool .controls header h3 {
  padding-top: .5rem;
  font-size: 18px;
}
#menu #content .tool .controls .content {
  padding: 1rem;
  font-size: 14px;
}
#menu #content .tool .controls .content .content-row .gt-button {
  margin: .5rem;
}
#menu #content .tool .results {
  padding: 1rem;
  margin-top: 1.5rem;
}
[data-layout='hide-menu'] #menu {
  display: none;
}
@media screen and (max-width: 45.5em) {
  #menu {
    z-index: 1000;
    position: relative;
    margin: 1em auto;
    width: 80%;
    border-radius: 3px;
    padding: .75rem;
    text-align: center;
    border: 1px solid #00897B;
  }
  #menu #menu-header {
    display: none;
  }
  #menu #search {
    padding: 0;
  }
  #menu #search #search-input {
    padding: .5rem 1rem;
    width: 100%;
    display: block;
    margin: 0 auto;
  }
  #menu #content {
    padding: 0;
    margin: 0;
  }
  #menu #content #tool-button-container,
  #menu #content .controls {
    display: none;
  }
  #menu #content .tool {
    border: none;
  }
  #menu #content.focus {
    padding: 1rem;
    margin-top: 1.5rem;
    overflow-y: scroll;
    max-height: 20rem;
    background: white;
  }
  #menu #content.focus #tool-button-container {
    display: flex;
  }
  #menu #content.focus .controls {
    display: block;
    z-index: 1;
  }
  #menu #content.focus .results {
    z-index: -1;
  }
  #menu #content.focus .tool {
    border: 1px solid #00897B;
  }
  #menu #content .results {
    position: fixed;
    background: white;
    width: 80%;
    left: 10%;
    bottom: 1rem;
    box-shadow: -3px 3px 1px 0 rgba(0, 0, 0, 0.15);
    border: 1px solid #00897B;
  }
}
#map {
  bottom: 0;
  left: 33%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}
#map .leaflet-control {
  border-radius: 3px !important;
}
#map .leaflet-control a {
  border-radius: 3px !important;
}
#map .leaflet-draw {
  display: none;
}
/* if user is hiding the menu, make the map take up the whole screen */
[data-layout='hide-menu'] #map {
  left: 0;
}
@media screen and (max-width: 45.5em) {
  #map {
    left: 0;
  }
  #map .leaflet-top {
    top: 7.5rem;
  }
}
.loader-container {
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1001;
}
.loader-container .loader {
  text-align: center;
  width: 40%;
  min-width: 20rem;
  margin: auto;
  padding: 2rem;
  position: relative;
  top: 20%;
  height: 60%;
  background: rgba(0, 0, 0, 0.5);
}
.loader-container .loader h3 {
  font-weight: bold;
  color: white;
}
.loader-container .loader .spinner {
  border: 2rem solid rgba(255, 255, 255, 0.2);
  /* Light grey */
  border-top: 2rem solid #00897B;
  /* Blue */
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
  animation: spin 2s linear infinite;
  position: relative;
  margin: auto;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
