.or {
  text-align: center;
}
#import-geojson-input {
  display: none;
}
.gt-dropdown {
  border-radius: 3px;
  border: 1px solid #31b98d;
  padding: .5rem;
  margin: auto;
  display: block;
  background: white;
  max-width: 30rem;
  width: 80%;
}
.gt-input {
  border-radius: 3px;
  border: 2px solid rgba(19, 41, 61, 0.7);
  display: block;
  width: 100%;
  padding: 12px;
}
.gt-input > input {
  border: none;
  line-height: 1.5;
}
.gt-input:focus {
  outline: 0;
}
.gt-button {
  font-weight: bold;
  cursor: pointer;
  border-radius: 3px;
  background: #31b98d;
  border: none;
  color: white;
  padding: .5rem 1rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
}
.gt-button:hover {
  background: rgba(49, 185, 141, 0.3);
}
.gt-button.active {
  background: #ff4380;
}
.gt-button-accent {
  font-weight: bold;
  cursor: pointer;
  border-radius: 3px;
  background: #31b98d;
  border: none;
  color: white;
  padding: .5rem 1rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
  background: #ff4380;
}
.gt-button-accent:hover {
  background: rgba(49, 185, 141, 0.3);
}
.gt-button-accent.active {
  background: #ff4380;
}
.gt-textarea {
  width: 90%;
  position: relative;
  margin: auto;
}
.gt-remove {
  border-radius: 50%;
  box-shadow: 1px 0 3px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
  float: right;
  background: #ff4380;
  color: white;
  padding: .25rem;
}
.gt-remove:hover {
  background: rgba(49, 185, 141, 0.3);
}
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.ReactModal__Overlay {
  border-radius: 3px;
  z-index: 2000;
  background: rgba(0, 0, 0, 0.75) !important;
}
.ReactModal__Overlay .ReactModal__Content {
  max-width: 500px;
  margin: auto;
  padding: 0 !important;
  border: none !important;
  overflow: hidden !important;
  transition: opacity 200ms ease-in-out;
}
.ReactModal__Overlay .ReactModal__Content--after-open {
  opacity: 1;
}
.ReactModal__Overlay .ReactModal__Content--before-close {
  opacity: 0;
}
.ReactModal__Overlay .ReactModal__Content header {
  background: #31b98d;
  color: white;
  padding: 1rem;
}
.ReactModal__Overlay .ReactModal__Content header h3 {
  margin-bottom: 0;
}
.ReactModal__Overlay .ReactModal__Content .content {
  padding: 1rem;
}
.ReactModal__Overlay .ReactModal__Content .content .gt-input {
  margin-top: 1rem;
}
.ReactModal__Overlay .ReactModal__Content .footer {
  text-align: center;
}
#menu {
  color: #13293D;
  background: white;
  font-family: 'Open Sans';
  bottom: 0;
  box-shadow: 1px 0 3px 0 rgba(0, 0, 0, 0.3);
  height: 100%;
  left: 0;
  padding: 24px;
  position: absolute;
  top: 0;
  width: 400px;
  z-index: 1000;
}
#menu header {
  padding: 16px;
  text-align: center;
}
#menu header h3 {
  font-family: 'Lalezar';
  letter-spacing: 2px;
  font-size: 36px;
  color: #13293D;
  margin: 0;
}
#menu #search {
  width: 100%;
}
#menu #content {
  height: calc(100% - 150px);
  margin-top: 24px;
  overflow-y: auto;
}
#menu #content::-webkit-scrollbar {
  width: 4px;
}
#menu #content::-webkit-scrollbar-track {
  box-shadow: 0 1px 3px 0 rgba(49, 185, 141, 0.3);
  background: rgba(49, 185, 141, 0.3);
}
#menu #content::-webkit-scrollbar-thumb {
  background-color: #31b98d;
}
#menu #content #tool-button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#menu #content #tool-button-container .tool-button {
  background: white;
  border-radius: 6px;
  border: 2px solid #31b98d;
  box-shadow: 0 1px 3px 0 rgba(49, 185, 141, 0.3);
  cursor: pointer;
  height: 103px;
  margin: 12px;
  text-align: center;
  width: 150px;
}
#menu #content #tool-button-container .tool-button .material-icons {
  font-size: 24px;
  color: #31b98d;
  margin-top: 16px;
}
#menu #content #tool-button-container .tool-button p {
  color: #13293D;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 16px;
}
#menu #content #tool-button-container .tool-button:hover {
  border: 2px solid rgba(49, 185, 141, 0.8);
}
#menu #content .tool {
  border: 1px solid #31b98d;
  border-radius: 3px;
  box-shadow: 1px 0 3px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
}
#menu #content .tool .controls header {
  width: 100%;
  background: #31b98d;
  color: white;
  text-align: left;
}
#menu #content .tool .controls header h3 {
  padding-top: .5rem;
  font-size: 18px;
  display: inline;
}
#menu #content .tool .controls .content {
  padding: 1rem;
  font-size: 16px;
}
#menu #content .tool .controls .content .content-row .gt-button {
  margin: .5rem;
}
#menu #content .tool .results {
  padding: 1rem;
  margin-top: 1.5rem;
}
[data-layout='hide-menu'] #menu {
  display: none;
}
@media screen and (max-width: 45.5em) {
  #menu {
    z-index: 1000;
    position: relative;
    margin: 1em auto;
    width: 80%;
    border-radius: 3px;
    padding: .75rem;
    text-align: center;
    border: 1px solid #31b98d;
  }
  #menu #menu-header {
    display: none;
  }
  #menu #search {
    padding: 0;
  }
  #menu #search #search-input {
    padding: .5rem 1rem;
    width: 100%;
    display: block;
    margin: 0 auto;
  }
  #menu #content {
    padding: 0;
    margin: 0;
  }
  #menu #content #tool-button-container,
  #menu #content .controls {
    display: none;
  }
  #menu #content .tool {
    border: none;
  }
  #menu #content.focus {
    padding: 1rem;
    margin-top: 1.5rem;
    overflow-y: scroll;
    max-height: 20rem;
    background: white;
  }
  #menu #content.focus #tool-button-container {
    display: flex;
  }
  #menu #content.focus .controls {
    display: block;
    z-index: 1;
  }
  #menu #content.focus .results {
    z-index: -1;
  }
  #menu #content.focus .tool {
    border: 1px solid #31b98d;
  }
  #menu #content .results {
    position: fixed;
    background: white;
    width: 80%;
    left: 10%;
    bottom: 1rem;
    box-shadow: 1px 0 3px 0 rgba(0, 0, 0, 0.3);
    border: 1px solid #31b98d;
  }
}
#map {
  bottom: 0;
  left: 400px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}
#map .leaflet-control {
  border-radius: 3px !important;
}
#map .leaflet-control a {
  border-radius: 3px !important;
}
#map .leaflet-draw {
  display: none;
}
/* if user is hiding the menu, make the map take up the whole screen */
[data-layout='hide-menu'] #map {
  left: 0;
}
@media screen and (max-width: 45.5em) {
  #map {
    left: 0;
  }
  #map .leaflet-top {
    top: 7.5rem;
  }
}
.loader-container {
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1001;
}
.loader-container .loader {
  text-align: center;
  width: 30%;
  min-width: 20rem;
  margin: auto;
  padding: 2rem;
  position: relative;
  top: 25%;
  height: 50%;
  background: rgba(0, 0, 0, 0.5);
}
.loader-container .loader h3 {
  font-weight: bold;
  color: white;
  margin-bottom: 2rem;
}
.loader-container .loader .spinner {
  border: 1.5rem solid rgba(255, 255, 255, 0.2);
  /* Light grey */
  border-top: 1.5rem solid #31b98d;
  /* Blue */
  border-radius: 50%;
  width: 12rem;
  height: 12rem;
  animation: spin 2s linear infinite;
  position: relative;
  margin: auto;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
